*.o
*.a
*.so
*.mod
boot/mbr.bin
kernel/entryother
kernel/initcode
kernel/initcode.out
kernel/kernel
kernel/vectors.S
program/about/about
program/cat/cat
program/desktop/desktop
program/dir/dir
program/init/init
program/kmod/kmod
program/lscpu/lscpu
program/lspci/lspci
program/mkdir/mkdir
program/reboot/reboot
program/rm/rm
program/sh/sh
program/shutdown/shutdown
program/termemu/termemu
program/wm/wm
program/date/date
/rootfs
panicos.img
panicos.tar.gz
